*.iml
*.gradle
/local.properties
*.idea
/*.idea
/.idea/caches
/.ideabraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
ild
/captures
.externalNativeBuild
.cxx
/gradlew
*.bat
local.properties
gradle.properties
*/wrapper
/gradle
*/gradle-wrapper.jar
*/gradle-wrapper.properties
*.pro

